*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'arial'; /* Name your font family */
    src: url('ARIAL.ttf'); /* Locate the .ttf file within your directory*/
  }

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    font-family: 'arial';
    filter: blur(1.5px);
}

#brat{
    border: none;
    background-color: transparent;
    transform: scaleX(2);
    color: #8ACE00;
    cursor: pointer;
    
}

.threesixfive{
    transform: scaleX(2);
    font-weight: 100;
    display: none;

}